.header-top {
    background-color: $mainPurple;
    
    &__title{
        color: white;
        font-size: 2.25rem;
        font-weight: 200;
        padding: 20px;
        top: 0;
        margin: 0;
    }
    
}